<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    
    {{>navbar}}

<!-- main herder -->
    <div class="container-fluid main_header" >
        <div class="row">
            <div class="col-md-10 col-12 mx-auto " >
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images\DrawKit-daily-life-vector-illustration-02.png" alt="image" class="img-fluid" title="ZAID SAYED">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the wether app</p>
                        <h1>I am <span class="text_clr" > Developer </span> And Adding new projects</h1>
                        <a class="btns" href="https://zaidsayed910.github.io/AngularApp/welcome"><button>ACME</button></a>
                        <a class="btns" href="https://zaidsayed910.github.io/Todo-List-Angular/"><button>TO-do App</button></a>
                        <a class="btns" href="https://chat-botui.herokuapp.com/"><button>Chat-Bot UI</button></a>
                        <a class="btns" href="/about"><button>About ME</button></a>

                    </div>
                    <!-- right side div -->
                    

                     

                   

                </div>

        </div>
    </div>
</div>

<!-- fotter code -->

{{>footer}}
</body>
</html>